{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="pagehead"><h1>Change password</h1></div>
<form method="post" class="card form" novalidate>{% csrf_token %}
  {% for field in form %}<div class="field"><label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input class="input" type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" required>
    {% for e in field.errors %}<div class="err">{{ e }}</div>{% endfor %}</div>{% endfor %}
  <button class="btn" type="submit">Save password</button> <a class="btn ghost" href="{% url 'accounts:security' %}">Cancel</a>
</form>
{% endblock %}
